/*
 * This file contains overrides to the bootstrap standard as well as additional
 * styles used to create the pages.
 */

/* Style overrides from bootstap standard. */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

hr {
  margin: 10px 0px;
}

.hero-unit {
  margin-bottom: 0px;
}

.nav-point {
  padding-top: 40px;
}

.carousel-control {
  margin-top: 0;
}

.carousel-indicators {
  top: auto;
  bottom: -15px;
  left: 0px;
}

.carousel-indicators li {
  background-color: #000000;
}

.carousel-indicators .active {
  background-color: #FFFFFF;
}

/* Additional styles to tweak the page presentation. */

.cntSeparator {
  font-size: 54px;
  padding-top: 25px;
}

.counter-legend {
  float: left;
  width: 121px;
}

.gandi-footer {
  width: 84px;
  height: 25px;
}

.twitter-button {
  padding: 10px 0px 0px 15px;
}

#cookie-warning {
  display: none;
}

#overlay {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0;
}

#privacy-policy {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: 30px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

/* Fork it on GitHub CSS. */

#forkongithub a {
  background: #000000;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1.5em;
  line-height: 2em;
  border: 1px dashed #FFFFFF;
  border-width: 1px 0px;
  box-shadow: 4px 4px 10px #333333;
  transition: 0.5s;
}

#forkongithub a:hover {
  background: #0000ff;
}

@media screen and (min-width:980px){
  #forkongithub {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  #forkongithub a {
    position: fixed;
    top: 90px;
    right: -90px;
    width: 300px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 9999;
  }
}
